# SETTINGS FOR DJANGO APPLICATION
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=*

# DATABASE CONFIGURATION
DATABASE_NAME=agent_hub
DATABASE_USER=agent_hub
DATABASE_PASSWORD=agent_hub
DATABASE_HOST=localhost
DATABASE_PORT=5432

# EXTERNAL API KEYS
API_KEY_PEPPER=your-api-key-pepper-here

# USER CREDENTIALS FOR DECIDIM
DECIDIM_EMAIL=
DECIDIM_PASSWORD=
DECIDIM_BASE_URL=https://lab-decide.dataprev.gov.br